{% extends 'base.html' %}

{% block content %}
<a class="btn" href="{% url 'index' %}">Home</a> /
<a class="btn" href="{% url 'year' year %}">{{year}}</a> /
<a class="btn" href="{% url 'issue' article.issue.id %}">{{article.issue}}</a> /
<a class="btn" href="{% url 'article' article.id %}">{{article.title}}</a>

<h1>{{article.title}}</h1>

<p>This article is on page {{article.page}} of the issue, which is available at:</p>
<p><a href ="{{article.issue.issue_url}}">{{article.issue.issue_url}}</a></p>

<p><strong>Genre:</strong>  {{article.genre}}</p>

<p><strong>Keywords:</strong> {{article.description}}</p>


{% endblock %}
