{% extends 'base.html' %}

{% block content %}

<h1>Browse issues</h1>
<div class="well">
  Drexel University's campus newspaper, the Drexel Triangle, has been in continous publication since 1926.
  It was digitized by <a href="https://www.library.drexel.edu/archives">Drexel University Archives</a>.
  You can browse a number of back issues on this test website.
</div>
<div class="alert alert-warning">
  <strong>This site is in beta.</strong> It is intended merely as a proof of concept. You will probably encounter broken links, errors,  or duplicate data. Its availability is not guaranteed.
</div>
<br/>
{% if issue_list %}
    <ul>
    {% for issue in issue_list %}
        <li><a href="/browse/issue/{{ issue.id }}/">{{ issue }}</a></li>
    {% endfor %}
    </ul>
{% else %}
    <p>No issues are available.</p>
{% endif %}
{% endblock %}
