{% extends 'base.html' %}

{% block content %}
<a class="btn" href="{% url 'index' %}">Home</a> /
<br/>
<h1>Browse issues</h1>
<div class="well">
  Drexel University's campus newspaper, the Drexel Triangle, has been in continous publication since 1926.
 Many of the issues were digitized by <a href="https://www.library.drexel.edu/archives">Drexel University Archives</a>, and you can try searching for them on this test website.
</div>
<div class="alert alert-warning">
  <strong>This site is just a test.</strong> Its availability is not guaranteed. It contains broken links, errors, and duplicate data. The official Drexel Triangle site is <a href="http://sets.library.drexel.edu/triangle" target="_blank">here</a>.
</div>
<br/>
{% if issue_counts %}
    <ul>
       {% for year, number_of_issues in issue_counts.items %}
        <li><a href="/browse/year/{{ year }}/">{{ year }} ( {{number_of_issues}} issues)</a></li>
      {% endfor %}
    </ul>
{% else %}
    <p>No issues are available.</p>
{% endif %}
{% endblock %}
