{% extends 'base.html' %}

{% block content %}

<a class="btn" href="{% url 'index' %}">Home</a> /
<a class="btn" href="{% url 'year' year %}">{{year}}</a> / 
<a class="btn" href="{% url 'issue' issue.id %}">{{issue}}</a>

<br/>

{% if issue.get_previous_by_pub_date %}
<a class="btn" href="{% url 'issue' issue.get_previous_by_pub_date.id %}">Previous issue</a>
{% endif %}

{% if issue.get_next_by_pub_date %}
<a class="btn" href="{% url 'issue' issue.get_next_by_pub_date.id %}">Next issue</a>
{% endif%}

<h1>{{issue}}<h1/>

<h2>Available at:</h2>
<a href="{{issue.issue_url }}">{{ issue.issue_url }}</a>

<h2>Contents:</h2>
<ul>
  {%for i in issue.trianglearticle_set.all%}
  <li><a href="{% url 'article' i.id %}">{{ i }}</a></li>
  {% endfor %}
</ul>

<!--
<hr/>
{{issue.dir}}<br/>
-->

{% endblock %}
